@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center-object {
    position: absolute;
    left: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}