$color-primary: #f2da1f;
$color-primary-light:#fff719;
$color-primary-dark: #d0b274;
$color-black: #000;
$color-white: #fff;
$color-lightgrey: #DCDCDC;
$color-lightgrey-2: #f2f2f2;
$color-darkgrey: #808080;
$color-darkgrey-2: #191919;