// basic colors
$black: #0000;
$light-green: #34eb37;
$dark-green: #2f9431;
$dark: rgb(30, 30, 30);
$scroll-to-bg: rgb(225, 225, 225);

$light-orange: #f5ad14;
$dark-orange: #cc9114;

$nice-pink: #fc03ad;

$nice-blue: #2dcccc;
$darker-blue: #22d4d1;
$dark-blue: #2d9c9c;
$navy-blue: rgb(0, 0, 230);

$blue-coral: rgb(50, 168, 166);
$cyan: rgb(0, 255, 251);

$light-gray: rgb(200, 200, 200);
$dark-gray: rgb(80, 80, 80);

// grid

$vertical-gutter: 5rem;
$horizontal-gutter: 6rem;
$fullfont-bg: #846c38;

$nice-red: #e35260;