.about-section {
    position: relative;
    overflow: hidden;
    height: 150rem;
    &__header {
        text-align: center;
        color: black;
        font-size: 6rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, $color-primary-dark, $color-primary, $color-primary-dark);
        color: transparent;
        -webkit-background-clip: text;
        transition: all .5s;
        padding-top: 5rem;
        padding-bottom: 5rem;
        letter-spacing: 4px;
        &:hover {
            transform: skewX(11deg) skewY(2deg) scale(1);
            text-shadow: .5rem 2rem 2rem rgba(black, .2);
        }
    }
    &__articletitle {
        background-image: linear-gradient(to right, $color-primary-dark, $color-primary, $color-primary-dark);
        color: transparent;
        -webkit-background-clip: text;
        text-align: center;
        font-size: 6rem;
    }
    &__aboutme {
        display: flex;
        flex-direction: row;
        height: 25%;
        width: 90%;
        margin: auto;
        &--1 {
            width: 50%;
            height: 100%;
        }
        &--2 {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &--para {
            color: #404040;
            font-size: 2rem;
        }
    }
    &__link {
        text-decoration: none;
        background-image: linear-gradient(to right, $color-primary-dark, $color-primary, $color-primary-dark);
        color: transparent;
        -webkit-background-clip: text;
    }
    &__about-me-image {
        width: 15rem;
        height: 20rem;
        border-radius: 4px;
        transition: all .4s;
        filter: brightness(0.7);
        &--1 {
            background-image: url(images/image1.jpg);
            background-size: 100% 100%;
            background-position: center;
            transform: rotate(-15deg) translate(1rem, 2rem);
        }
        &--2 {
            background-image: url(images/image2.jpg);
            background-size: 100% 100%;
            background-position: center;
            z-index: 2;
        }
        &--3 {
            background-image: url(images/image3.jpg);
            background-size: 100% 100%;
            background-position: center;
            transform: rotate(15deg) translate(-1rem, 2rem);
        }
        &:hover {
            z-index: 3;
            width: 20.5rem;
            height: 25.5rem;
            filter: brightness(1);
            box-shadow: 0 0.5rem 1rem rgba(black, .5);
        }
    }
}