.sponsoring-box {
    position: relative;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 15px 0 15px 0;
    background-color: $white;
    background-size: 110% 110%;
    background-image: linear-gradient(to right bottom, rgba($secondary-2, 0.7), rgba($secondary-2-dark, 0.1));

    @include respond(tab-port) {
        display: inline-block;
        width: 40rem;
        height: 40rem;
    }

    &__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all .5s;
        transform: scale(1.05);
    }

    &__url {
        transition: all .5s;
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 100%;
        height: 3rem;
        z-index: 2;
        opacity: 0;
        font-family: inherit;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, $cyan, $blue-coral);
        text-decoration: none;
        text-align: center;
        @include respond(tab-port) {
            height: 45%;
        }
    }

    &__title {
        color: $white;
        position: absolute;
        left: 50%;
        bottom: -20%;
        transform: translate(-50%, -50%);
        // linear-gradient(to right, rgba($white, .7), rgba($grey-light-1, .1))
        background-image: linear-gradient(to right, rgba($cyan, .7), rgba($blue-coral, .2));
        width: 100%;
        height: 40%;
        text-align: center;
        padding: 1.5rem;
        font-size: 4.3rem;
        z-index: 2;
    }

    &--1 &__url {
        font-size: $font-size-big;
        @include respond(tab-port) {
            font-size: calc($font-size-big * 2);
        }
    }

    &--2 &__url {
        font-size: $font-size-medium;
        @include respond(tab-port) {
            font-size: calc($font-size-medium * 2);
        }
    }

    &--3 &__url {
        font-size: $font-size-small;
        @include respond(tab-port) {
            font-size: calc($font-size-small * 2);
        }
    }

    &--4 &__url {
        font-size: $font-size-big;
        @include respond(tab-port) {
            font-size: calc($font-size-big * 2);
        }
    }

    &--5 &__url {
        font-size: $font-size-medium;
        @include respond(tab-port) {
            font-size: calc($font-size-medium * 2);
        }
    }
    
    &--5 &__title {
        font-size: $font-size-huge;
        @include respond(tab-port) {
            font-size: calc($font-size-huge * 2);
        }
    }

    &--6 &__url {
        font-size: $font-size-small;
        @include respond(tab-port) {
            font-size: calc($font-size-small * 2);
        }
    }

    &--7 &__url {
        font-size: $font-size-big;
        @include respond(tab-port) {
            font-size: calc($font-size-big * 2);
        }
    }

    &--8 &__url {
        font-size: $font-size-big;
        @include respond(tab-port) {
            font-size: calc($font-size-big * 2);
        }
    }

    &:hover &__image {
        transform: scale(1.4);
        filter: blur(1.5px);
    }

    &:hover &__url {
        transform: skewX(15deg) skewY(2deg) scale(1);
        left: 0%;
        top: 30%;
        opacity: 1;
    }
}